<!DOCTYPE html>

<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Repurpose.It</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  

  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/bootstrap/bootstrap.min.css')}}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/slick/slick.css')}}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/themify-icons/themify-icons.css')}}">
  <!-- venobox css -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/venobox/venobox.css')}}">
  <!-- card slider -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/card-slider/css/style.css')}}">

  <!-- Main Stylesheet -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}} " type="image/x-icon">
  <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}} " type="image/x-icon">

</head>

<body>
  

<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
   <a class="navbar-brand" href="{{url_for('index')}}"><strong>Repurpose.It</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('repurpose')}}">Repurpose</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('sell')}}">Marketplace</a>
        </li>
        {% if session %}
        <li class="nav-item">
          <a class="nav-link" href="">{{name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>

<!-- banner -->
<section class="banner bg-cover position-relative d-flex justify-content-center align-items-center"
  data-background="https://unsplash.com/photos/x8ZStukS2PM/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mnx8cmVjeWNsZXxlbnwwfHx8fDE3MTQxMjAwNjZ8MA&force=true">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 text-white font-weight-bold font-primary">Repurpose and Recycle</h1>
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="section-title">Repurpose.It Features</h2>
        <p class="lead">"Transform Waste, Embrace Creativity: Repurpose.It - Where Innovation Meets Sustainability!"</p>
        <div class="section-border"></div>
      </div>
    </div>
    <div class="row">
      <!-- First Card -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="card hover-bg-secondary shadow py-4">
          <div class="card-body text-center">
            <div class="position-relative">
              <i class="icon-lg icon-box bg-gradient-primary rounded-circle ti-palette mb-5 d-inline-block text-white"></i>
              <i class="icon-lg icon-watermark text-white ti-palette"></i>
            </div>
            <h4 class="mb-4">Marketplace for Repurposed Goods</h4>
            <p>In addition to providing repurposing ideas, Repupose.It offers a dedicated marketplace where users can showcase and sell their repurposed goods. This feature encourages a circular economy by promoting the exchange of upcycled products, reducing waste, and fostering a community of eco-conscious consumers and creators.</p>
          </div>
        </div>
      </div>
      <!-- Second Card -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="card hover-bg-secondary shadow py-4">
          <div class="card-body text-center">
            <div class="position-relative">
              <i class="icon-lg icon-box bg-gradient-primary rounded-circle ti-dashboard mb-5 d-inline-block text-white"></i>
              <i class="icon-lg icon-watermark text-white ti-dashboard"></i>
            </div>
            <h4 class="mb-4">AI-Powered Suggestions</h4>
            <p>Repupose.It leverages the power of OpenAI and Azure Vision API to analyze uploaded images of unused items. Through advanced AI algorithms, users receive personalized suggestions on how to repurpose or reuse these items creatively. Whether it's suggesting DIY projects, craft ideas, or alternative uses, the AI engine provides innovative solutions tailored to each item.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>Blogs</h2>
        <div class="section-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <article class="card">
          <img src="https://unsplash.com/photos/Q8W2r2aCmaw/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8Mnx8ZWFydGglMjBkYXl8ZW58MHwxfHx8MTcxNDIyMjEyM3ww&force=true" alt="post-thumb" class="card-img-top mb-2">
          <div class="card-body p-0">
            <time>2024</time>
            <a href="blog-single" class="h4 card-title d-block my-3 text-dark hover-text-underline">Reduce, Reuse, Recycle: Celebrating Earth Day 2024</a>
            <a href="https://recyclenation.com/2024/04/reduce-reuse-recycle-celebrating-earth-day-2024/" class="btn btn-transparent">Read more</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <article class="card">
          <img src="https://unsplash.com/photos/dclPEtMVdK8/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8OHx8cmVjeWNsZXxlbnwwfHx8fDE3MTQyMTIwNzF8MA&force=true" alt="post-thumb" class="card-img-top mb-2">
          <div class="card-body p-0">
            <time>2024</time>
            <a href="blog-single" class="h4 card-title d-block my-3 text-dark hover-text-underline">The Art of Upcycling: Turning Trash Into Treasure</a>
            <a href="https://recyclenation.com/2023/09/the-art-of-upcycling-turning-trash-into-treasure/" class="btn btn-transparent">Read more</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <article class="card">
          <img src="https://unsplash.com/photos/ayfiHJhrzn8/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTh8fHJlY3ljbGV8ZW58MHx8fHwxNzE0MjEyMDcxfDA&force=true" alt="post-thumb" class="card-img-top mb-2">
          <div class="card-body p-0">
            <time>2024</time>
            <a href="blog-single" class="h4 card-title d-block my-3 text-dark hover-text-underline">The Impact of Single-Use Plastics and the Call for Recycling</a>
            <a href="https://recyclenation.com/2023/09/the-impact-of-single-use-plastics-and-the-call-for-recycling/" class="btn btn-transparent">Read more</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->


<!-- jQuery -->
<script src="{{url_for('static', filename='plugins/jQuery/jquery.min.js')}}"></script>
<!-- Bootstrap JS -->
<script src="{{url_for('static', filename='plugins/bootstrap/bootstrap.min.js')}}"></script>
<!-- slick slider -->
<script src="{{url_for('static', filename='plugins/slick/slick.min.js')}}"></script>
<!-- venobox -->
<script src="{{url_for('static', filename='plugins/venobox/venobox.min.js')}}"></script>
<!-- shuffle -->
<script src="{{url_for('static', filename='plugins/shuffle/shuffle.min.js')}}"></script>
<!-- apear js -->
<script src="{{url_for('static', filename='plugins/counto/apear.js')}}"></script>
<!-- counter -->
<script src="{{url_for('static', filename='plugins/counto/counTo.js')}}"></script>
<!-- card slider -->
<script src="{{url_for('static', filename='plugins/card-slider/js/card-slider-min.js')}}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="{{url_for('static', filename='plugins/google-map/gmap.js')}}"></script>

<!-- Main Script -->
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
