<!DOCTYPE html>



<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Repurpose.It</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/bootstrap/bootstrap.min.css')}}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/slick/slick.css')}}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/themify-icons/themify-icons.css')}}">
  <!-- venobox css -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/venobox/venobox.css')}}">
  <!-- card slider -->
  <link rel="stylesheet" href="{{url_for('static', filename='plugins/card-slider/css/style.css')}}">
  <!-- Main Stylesheet -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}} " type="image/x-icon">
  <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}} " type="image/x-icon">

</head>

<body>
  

<header class="navigation fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
   <a class="navbar-brand" href="{{url_for('index')}}"><strong>Repurpose.It</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('repurpose')}}">Repurpose</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('sell')}}">Marketplace</a>
        </li>
        {% if session %}
        <li class="nav-item">
          <a class="nav-link" href="">{{name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>


<section class="page-title bg-cover" data-background="https://unsplash.com/photos/JMMUqHlw2c8/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTh8fHNhdmUlMjBlYXJ0aHxlbnwwfDB8fHwxNzE0MTg1OTM1fDA&force=true">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1 text-white font-weight-bold font-primary">Learn to Repurpose</h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
          <h2>Upload an Image to get Started</h2>
          <div class="section-border"></div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-8 mx-auto">
          <form method="POST" enctype="multipart/form-data" class="my-4">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                  </div>
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01" name="file">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <div id="result" class="alert alert-info" role="alert">
        <p class="lead">{{ result | safe }}</p>
      </div>
  </div>
  </div>
    
  </div>
</section>
<!-- /service -->


<!-- jQuery -->
<script src="{{url_for('static', filename='plugins/jQuery/jquery.min.js')}}"></script>
<!-- Bootstrap JS -->
<script src="{{url_for('static', filename='plugins/bootstrap/bootstrap.min.js')}}"></script>
<!-- slick slider -->
<script src="{{url_for('static', filename='plugins/slick/slick.min.js')}}"></script>
<!-- venobox -->
<script src="{{url_for('static', filename='plugins/venobox/venobox.min.js')}}"></script>
<!-- shuffle -->
<script src="{{url_for('static', filename='plugins/shuffle/shuffle.min.js')}}"></script>
<!-- apear js -->
<script src="{{url_for('static', filename='plugins/counto/apear.js')}}"></script>
<!-- counter -->
<script src="{{url_for('static', filename='plugins/counto/counTo.js')}}"></script>
<!-- card slider -->
<script src="{{url_for('static', filename='plugins/card-slider/js/card-slider-min.js')}}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="{{url_for('static', filename='plugins/google-map/gmap.js')}}"></script>

<!-- Main Script -->
<script src="{{url_for('static', filename='js/script.js')}}"></script>

</body>
</html>